*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}


.content{
    background-color: aqua;
    width: 100%;
    margin: auto;

    /****** flexbox *****/
    display: flex;
    flex-flow: row wrap;
}

header{
    background-color: blue;
    width: 100%;


    /****** flexbox *********/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

header nav{
    width: 50%;

    /******** flexbox **********/
    display: flex;
    justify-content: space-evenly;
}




section{
    background-color: red;
    width: 100%;
}

footer{
    background-color: blueviolet;
    width: 100%;
}