*{
    background-color: #faf7ea;
    box-sizing: border-box;
    margin: 0%;
    
}

header{
    background-color: #D20A0A;
    display: flex;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #131301ff;
}

nav a {
    color: #faf7ea;
    text-decoration: none;
    background-color: #131301ff;
    height: 25px;
    text-align: right;
    padding: 5px;
}


#logoPasteleria{
    width: 7%;
    border-radius: 70px;
}


#NombrePasteleria{
    text-align: center;
    flex: 80%;
    padding: 2%;
    font-family: 'Dancing Script', cursive;
    background-color : transparent;
    color: #f2f2f2;
    font-style: italic;
    
}

.row{
    display: flex;
    justify-content: center;
}



#PastelInicio{
    flex: 5%;
    width: 10px;
    border-radius: 7% 15% 7% 15%;
    padding: 15px;
}

#quienesSommos{
    flex:10%;
    font-family: 'Dancing Script', cursive;
    color:#131301ff;
    font-size: 20px;
    padding: 15px;
    background-color: #f2f2f2;
    margin: 17px;
    border: 9px double #D20A0A;
    text-align: center;
    border-radius: 2%;
}

#quienEs{
    color: #D20A0A;
    text-align: center;
}

#quienEs b{
    background-color: #f2f2f2;
}


h2{
    color: #D20A0A;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}



#Pastel{
    width: 450px;
    border-radius: 15px;
    margin: 30px;
}



textarea, #nombre, #apellidoP, #apellidoM,#tel,#email{
    width: 100%;
}
textarea{
    height: 85px;
}

/*

header{
    background-color: #D20A0A;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#logoPasteleria{
    width: 7%;
    border-radius: 70px;
}



*/